<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Bij Het Ankher kom je alles te weten over intuïtie, diepgang, je eigen intuïtief aanvoelen, je creatieve kracht, bewustwording... Je leert intuïtie (her)kennen, erop vertrouwen, verder ontwikkelen, en gebruiken in je dagdagelijks leven.

Er worden regelmatig opleidingen georganiseerd, workshops, readings/healings,... om je hierin te begeleiden." />
	<meta name="keywords" content="intuïtie, bewustzijn, groei, zelfontwikkeling, ontplooiing, spiritualiteit, spiritueel, holistisch, energie, energetisch, creatief, creativiteit, aanvoelen, HSP, buikgevoel, reiki, welzijn, sjamanisme, sjamaan, zesde zintuig, opleidingen, levenswijsheid, inzicht" />

	<title>Het Ankher</title>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/css/manopura.css" />
</head>
<body class="flex-container flex-dir-column">
	{% include navigation.html %}
