<nav> <!-- Need extra level to allow navigation bar background color to span entire screen width -->
    <div class="title-bar" data-responsive-toggle="navigatie" data-hide-for="medium">
        <div class="title-bar-title">Navigatie</div>
        <button class="menu-icon" type="button" data-toggle="navigatie"></button>
    </div>
	<div class="row top-bar" id="navigatie">
        <div class="top-bar-left show-for-medium">
            <img src="/images/logo.png" />
		</div>
        <div class="top-bar-right" data-toggler="hide">
			<ul class="menu vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown">
				<li {% if page.menu == "welkom" %} class="active" {% endif %}>
                    <a {% unless page.menu == "welkom" %} href="/index.html" {% endunless %}><b>Welkom</b></a></li>
                <li {% if page.menu == "aanbod" %} class="active" {% endif %}>
			<a><span><b>Aanbod</b></span></a>
                	<ul class="vertical menu">

						<li {% if page.menu == "cursussen" %} class="active" {% endif %}>
		                    <a {% unless page.menu == "cursussen" %} href="/cursussen.html" {% endunless %}><b>Cursussen</b></a></li>
		 				
		 				<li {% if page.menu == "readinghealing" %} class="active" {% endif %}>
		                    <a {% unless page.menu == "Readinghealing" %} href="/readinghealing.html" {% endunless %}><b>Reading/Healing</b></a></li>
						
				
	                </ul></li>
 				<li {% if page.menu == "tWinkelhoekje" %} class="active" {% endif %}>
                    <a {% unless page.menu == "tWinkelhoekje" %} href="/tWinkelhoekje.html" {% endunless %}><b>tWinkelhoekje</b></a></li>
				
				<li {% if page.menu == "Blog" or layout.menu == "Blog" %} class="active" {% endif %}>
					<a href="/blog/"><b>Schrijfsels</b></a></li>
				<li {% if page.menu == "contact" %} class="active" {% endif %}>
                    <a {% unless page.menu == "contact" %} href="/contact.html" {% endunless %}><b>Contact</b></a></li>
		</ul>
		</div>
	</div>
</nav>
