
$color-text: 3233cd;
$color-background: #d0e6ff;

$color-primary: #ffd406;
$color-menu: #3233cd;
$color-menu-hover: #d0e6ff;
$color-menu-selected: #d0e6ff;
$color-submenu: #3233cd;

$standard-font-stack: 'Verdana', sans-serif;

$images: '../images/';
