$color-text: #0000ff;
$color-background: #d0e6ff;

$color-primary: #f3dd86;
$color-menu: #3233cd;
$color-menu-hover: #d0e6ff;
$color-menu-selected: #d0e6ff;
$color-submenu: #3233cd;

$color-link: #ffd700;
$color-link-hover: #ff9e00;

$standard-font-stack: 'Verdana', sans-serif;

$images: '../images/';
